@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand&family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Fjalla One', sans-serif !important;
}

h2 {
    font-family: 'Fjalla One', sans-serif !important;
}

p {
    font-family: 'Quicksand', sans-serif !important;
}

button {
    font-family: 'Fjalla One', sans-serif;
    background-color: #44A86C;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-style: none;
}

.button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid {
    background-color: black;
}

.cover-page {
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    display: flex;
    background: linear-gradient(0deg, rgba(0, 122, 41, 0.54), rgba(0, 0, 0, 0.69));
    background-size: cover;
}

.description>p {
    padding: 3%;
}

.greenbg {
    background-color: #4BB200;
}

h1 {
    padding-bottom: 5%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero {
    display: flex;
    height: 80vh;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.initials {
    display: flex;
    align-content: flex-start;
    height: 7vh;
}

.initials a:link {
    color: white;
}

.initials a:visited {
    color: white;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.logo img {
    display: flex;
    width: 20%;
}

.navigation {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    position: relative;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    color: white;
    padding: 2%;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 35vw;
    height: 5vh;
}

.nav-links ul {
    display: flex;
    width: 100%;
}

.nav-links ul a {
    flex: 1 1 100%;
    display: inline-flex;
    font-family: 'Quicksand', sans-serif !important;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav-toggle {
    display: none;
}


.redbg {
    background-color: #B20000;
}


.section {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 4%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section-img>img {
    border-radius: 50%;
}

.service-card {
    border-radius: 10px;
    display: flex;
    width: 25vw;
    justify-content: space-between;
    padding: 3%;
    flex-wrap: wrap;
    margin: 1%;
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}

.social-logo {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-content: center;
    align-items: center;
}

.social-logo img {
    height: 25%;
}

.yellowbg {
    background-color: #B2AB00;
}

.service-cards {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.video,
.video iframe {
    position: absolute;
    top: -30px;
    left: -100px;
    width: 110%;
    height: 110%;
    pointer-events: none;
}

.video iframe {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.video-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.work {
    display: flex;
    width: 50%;
    margin-bottom: 3%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#work-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.work-image > a > img {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 800px) {

    .cover-page {
        background: linear-gradient(0deg, rgba(0, 122, 41, 0.54), rgba(0, 0, 0, 0.69)), url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.ignant.com%2Fwp-content%2Fuploads%2F2016%2F01%2Fgeometrieva-cvetkov-dimitrov_photography_studio-2.gif&f=1&nofb=1);
    }


    .description {
        display: flex;
    }

    .description>p {
        padding: 3%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h1 {
        padding-bottom: 10%;
        text-transform: uppercase;
    }

    .heading {
        display: flex;
        width: 100%;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .hero {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-image: url(/img/flimgrain.gif);
    }

    .logo {
        display: flex;
        position: relative;
    }

    .logo-img {
        position: relative;
        height: auto;
        width: 100%;
    }

    .logo>img {
        position: relative;
        height: auto;
        width: 100%;
    }

    .navigation {
        display: flex;
        height: 8vh;
        justify-content: space-between;
        position: relative;
        background: rgba(0, 0, 0, .7);
        width: 100vw;
        color: white;
        padding: 5%;
        z-index: 1;
    }

    #nav-links {
        display: none;
        background: rgba(0, 0, 0, .7);
        width: 100vw;
        justify-content: center;
        z-index: 1;
        height: auto;
    }

    .nav-links ul {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        font-size: xx-large;
        flex-wrap: wrap;
        padding: 0%;
    }

    .nav-links ul a {
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
    }

    .nav-links ul a:link {
        color: white;
    }

    .nav-links ul a:visited {
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
    }

    .nav-links ul a:active {
        display: flex;
        justify-content: center;
        width: 100%;
        color: red;
    }

    .nav-links ul a:hover {
        display: flex;
        justify-content: center;
        width: 100%;
        color: grey;
    }

    .nav-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
        height: 7vh;
    }

    .nav-toggle>img {
        color: white;
        object-fit: contain;
        display: flex;
        height: 4vh;
    }


    .section-img>img {
        border-radius: 50%;
    }

    .service-card {
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 10px;
        justify-content: space-around;
        padding: 5%;
        flex-wrap: wrap;
        margin-bottom: 3%;
    }

    .service-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .video {
        display: none;
    }




    .work {
        display: flex;
        margin-bottom: 3%;
        flex-wrap: wrap;
    }

    .work img {
        display: flex;
        width: 100%;
        z-index: 0;
    }

}